.banner-home{
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aga1{
    margin-left: 28%;
}

.animacao-titulo {
    animation: fadeIn 3s ease-in-out;
}

.animacao-paragrafo {
    animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
