.header {
  background-color: #e8dacc;
  padding: 0 20px;
}

.logo {
  height: 40px;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.nav-link {
  color: #5a0f19 !important;
  font-weight: bold !important;
}

.nav-name {
  color: #8a3119;
  font-weight: bold !important;
}

.nav-link:hover {
  color: #8a3119 !important;
}

.nav-btn {
  background-color: #e8dacc !important;
  color: #5a0f19 !important;
  font-weight: bold !important;
  border: 2px solid #5a0f19 !important;
}

.nav-btn:hover {
  background-color: #5a0f19 !important;
  color: #e8dacc !important;
}
