.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
  background-color: #5a0f19;
  color: #ebdacc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre p {
  align-self: center;
}
